.container-fluid.main {
    margin-top: 0;;
    position: absolute;
    width: 100%;
    height: 90%;;
    left: auto;
    top: 0px;
    background: white;
}

.navbar {
    margin-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    color: white;
    margin-right: 50px;
    font-size: 13pt;
}

.container-fluid.main-header{
    margin-top: 250px;;
}

.col1 {
    background: rgba(79, 150, 202, 0.85);
    padding: 10%;
    padding-top: 350px;
    padding-bottom: 27.3%;

}
.col2 {
    background: rgba(12, 31, 35, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* header text */
p.name-intro {
    color: white;
    font-size: 45pt;
    float: left;
    position: absolute;
    top: 40%;
}

h1.name-head {
    font-family: Segoe UI;
    font-style: normal;
    font-size: 65pt;
    color: #113950;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    float: left;
    position: absolute;
    top: 50%;
    left: 15%;
}


html {
    background: #151515;
}

.dev-img {
    float: left;
    position: absolute;
    width: 30%;
    left: 58%;
    top: 1%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(25px -1px 5px #222);

}