/* Colors */
.nav-link {
    color: white;
}
.col1 {
    background: rgba(110, 162, 199, 0.85);
}
.col2 {
    background: rgb(7, 53, 46);
}
p.name-intro {
    color: white;
}

h1.name-head {
    color: #0c4d5f;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);

}

p.name-intro {
    color: white;
}

body {
    background: black;
}

.container-fluid.main {
    margin-top: 0;
    position: absolute;
    width: 100%;
    left: auto;
    top: 0px;
    background: #ffffff;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.nav-link {
    margin-right: 50px;
    font-size: 12pt;
}

.container-fluid.main-header{
    margin-top: 250px;
}

.col1 {
    padding: 10%;
    padding-top: 250px;
    padding-bottom: 500px;

}

/* header text */
p.name-intro {
    font-size:calc(12pt + 2.1vw);
    float: left;
    position: absolute;
    top: 40%;
    left: 14.5%;
}

h1.name-head {
    font-family: Segoe UI;
    font-style: normal;
    font-size:calc(19pt + 2.5vw);
    float: left;
    position: absolute;
    top: 50%;
    left: 14.5%;
}


html {
    background: #000000;
}

.dev-img {
    pointer-events: none;
    float: left;
    position: absolute;
    width: 470px;
    right:calc(12% + 10px);
    top: 46px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(25px -1px 5px #222);

}

p.intro {
    float: left;
    position: absolute;
    font-size: 12pt;
    top: 65%;
    left: 15%;
    padding-right: 10%;
}

.btn-intro {
    float: left;
    position: absolute;
    font-size: 12pt;
    top: 75%;
    left: 15%;
    padding: 1.3%;

}

.container-fluid.about {
    background: white;
    margin-top: 750px;
    min-height: 300px;
    padding-bottom: 100px;
}

.navbar-default{
    transition:300ms ease;
    background:transparent;
}

.navbar-default.scrolled{
    background:#06313880;
}

h2.jumbotron-fluid.text-center {
    padding-top: 3%;
    font-size: 30pt;
    padding-bottom: 30px;
}

h2.jumbotron-fluid.text-center.about  {
    padding-top: 3%;
    font-size: 35pt;
}


.progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}



.bio{
    padding: 10px;
    margin-top: 20px;
    font-size: 12pt;
    margin-bottom: 20px;
}

.progress-title {
    float: left;
    margin-left: 350%;
    font-size: 13pt;
}

.container.projects {
    padding-top: 30px;
    margin-top: 200px;
    padding-bottom: 200px;
    background: white;
}

#projects {
    font-size: 35pt;
}